body {
    margin: 10px;
    font-family: sans-serif;
    font-size: 1rem;
}

#wikitree-check-label,
#debug-mode-label {
    display: block;
    margin-bottom: 10px;
}

#save-settings {
    width: 75px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}
